.opinion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__boxes {
    width: 100%;
    margin: 0 auto;
    .box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      &__content {
        flex: 1 1 18.75rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-self: normal;
        margin: 10px 20px;
        padding: 10px 20px;
        background-color: $backgroundGray;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba($color: $black, $alpha: 0.4);

        h4 {
          margin: 10px 0;
          font-size: 1.3rem;
          color: $black;
        }

        h5 {
          font-family: Arial, Helvetica, sans-serif;
          font-size: small;
        }

        p {
          margin-bottom: 10px;
          font-size: 1rem;
        }

        img {
          border: 1px solid $black;
          max-width: 100px;
          border-radius: 50%;
        }
      }

      &__btn {
        display: inline-block;
        margin-top: auto;
        background: $logoblue;
        text-align: center;
        color: $white;
        padding: 10px 20px;
        border-radius: 1.25rem;
      }
    }
  }
}
