// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$backgroundGray: rgb(238, 238, 238);
$gray3: rgb(51, 51, 51);
$gray4: rgb(68, 68, 68);
$gray9: rgb(153, 153, 153);
$titleGreen: rgb(108, 155, 17);
$logoblue: rgb(106, 165, 241);
$logoRed: rgb(230, 11, 11);
$hoverColor: rgb(242, 85, 44);
$darkBlue: #2d314d;
$robinEggBlue: #00cecb;
$grayishBlue: #9698a6;
$limeGreen: hsl(136, 65%, 51%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 2rem; // 32px
$font-xxlg: 3.25rem; // 52px
