.post-categories{
    display: flex;
    li{
        margin-left: 15px;
        padding: 5px;
        background-color: #768673;
        border-radius: 5px;
    }

    a, .catLink{
        color: white;
    }
    
}
