.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: calc(300vh - 320px);

  .card {
    flex: 1 0 14rem;
  }

  .contact-us {
    margin-bottom: 1rem;
    &__banner {
      width: 100%;
      height: 400px;
      margin-bottom: 1rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 0.3125rem;
    }

    strong {
      color: $logoblue;
    }
    span {
      color: $limeGreen;
      font-weight: 700;
      font-size: $font-lg;
    }

    .footer-social-icons {
      margin: 0;
      justify-content: flex-end;
    }
  }

  &__main-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
  }

  &__title {
    font-size: $font-lg;
    font-weight: 700;
    margin-bottom: 0.6rem;
    color: $white;
  }

  &__image {
    width: 100%;
    flex: 0 0 16rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0.3125rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
  }

  .single__img {
    width: 100%;
    height: 440px;

    @include breakpoint-down(small) {
      width: 100%;
      height: 220px;
    }
  }

  @include breakpoint-up(medium) {
    &__image {
      flex: 0 0 28.75rem;
    }
  }

  @include breakpoint-down(medium) {
    min-height: calc(300vh - 640px);

    &__title {
      font-size: $font-med;
    }

    &__main-section {
      padding-left: 0.5rem;
    }

    .container {
      justify-content: center;
      .col-8 {
        width: 100%;
      }

      .col-4 {
        width: 100%;
      }

      .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
    }
  }
}
